@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
    padding: 0;
    margin:  0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.material-symbols-rounded
{
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

/* NAV BAR */
nav
{
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 40px 90px;
}
nav .start
{
    display: flex;
    align-items: center;
    font-weight: 700;
}
nav .end
{
    display: flex;
    align-items: center;
}
nav .end a
{
    color: #000;
    margin: 0 10px;
    transition: 0.4s;
}
nav .end a:visited
{
    color: #000000;
}

/* PAGE INDEX */
.hero
{
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}
.hero .titre
{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}
.hero .titre h1
{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero .titre h2
{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--couleur-secondaire);
}
.hero .img
{
    z-index: -1;
    user-select: none;
    -ms-user-select: none;
}

/* Séparateur */
.sep
{
    margin: 200px 0;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sep::before
{
    content: "";
    background-image: url("../img/w.svg");
    width: 1000px;
    height: 45px;
}

/* Présentation */
.pres
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 90px;
}
.pres .titre
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pres .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
}
.pres .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
    margin: -85px 0;
}
.pres .disp-infos
{
    display: flex;
    justify-content: space-between;
    margin: 220px 0;
}
.pres .disp-infos .text
{
    display: flex;
    flex-direction: column;
}
.pres .disp-infos .text p
{
    margin: 20px 0;
    font-size: 18px;
}
.pres .disp-infos .img
{
    width: 80vw;
    background-image: url("../img/f1.svg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(70deg);
}

/* COMPETENCES */
.comp
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.comp .titre
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comp .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
}
.comp .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
    margin: -85px 0;
}
.comp .disp-lien
{
    display: flex;
    justify-content: space-between;
    margin: 300px 0;
    flex-direction: column;
}
.comp .disp-lien .link
{
    display: flex;
    align-items: center;
    width: 50vw;
    cursor: pointer;
    padding: 25px;
    border-radius: 20px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    margin: 50px 0;
}
.comp .disp-lien .link:after
{
    font-family: "Material Symbols Rounded", sans-serif;
    content : "\e5c8";
    font-size: 2rem;
    right: -50px;
    position: absolute;
    transition: 0.4s;
}
.comp .disp-lien .link:hover:after
{
    right: 20px;
}
.comp .disp-lien .link h1
{
    font-weight: 600;
}
.comp .disp-lien .link h2
{
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0 20px;
}
.comp::before
{
    content: "\f526";
    font-family: "Material Symbols Rounded", sans-serif;
    color: var(--couleur-secondaire-attn);
    font-size: 900px;
    filter: blur(10px);
    position: absolute;
    bottom: 0;
    right: 90px;
}

/* Proejts */
.proj
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.proj .titre
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proj .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
}
.proj .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
    margin: -85px 0;
}
.proj .prt-grid
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px 0;
}
.proj .prt-grid img
{
    user-select: none;
    -ms-user-select: none;
}
.proj::before
{
    content: "\eb3f";
    font-family: "Material Symbols Rounded", sans-serif;
    color: var(--couleur-secondaire-attn);
    font-size: 900px;
    filter: blur(10px);
    position: absolute;
    bottom: 0;
    left: 90px;
    z-index: -1;
}

/**************************/
/*      COMPÉTENCES       */
/**************************/

.hero-c
{
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 90px;
}
.hero-c .title
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-c .title h1
{
    letter-spacing: 13px;
    font-size: 6rem;
    font-weight: 800;
}
.hero-c .title h2
{
    margin: 20px 0;
}

/* Présentation compétences */
.c-pres
{
    display: flex;
    flex-direction: column;
    margin: 50px 90px;
}
.c-pres .titre
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 150px;
}
.c-pres .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
    margin: -85px 25px;
}
.c-pres .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
}
.c-pres p
{
    font-size: 22px;
    max-width: 55vw;
    margin: 15px 0;
}

/********************************/
/*   PRESENTATION COMPÉTENCES   */

.c-pres .cat-comp
{
    display: flex;
    flex-direction: column;
    margin: 80px 0 10px 0;
}
.c-pres .cat-comp .title-comp
{
    width: 55vw;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.c-pres .cat-comp .title-comp .check
{
    background: url("../img/c.png") no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    background-position: center center;
    margin-right: 20px;
}
.c-pres .cat-comp .title-comp .not
{
    background: url("../img/n.png") no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    background-position: center center;
    margin-right: 20px;
}
.c-pres .cat-comp .title-comp p
{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}
.c-pres .cat-comp .content-comp
{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.c-pres .cat-comp .content-comp .item-comp
{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}
.c-pres .cat-comp .content-comp .item-comp .title-competences-cnt
{
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;
}
.c-pres .cat-comp .content-comp .item-comp .title-competences-cnt .cat
{
    color: white;
    font-size: 30px;
    padding: 20px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.c-pres .cat-comp .content-comp .item-comp .title-competences-cnt h1
{
    margin: 0 20px;
    font-size: 30px;
    font-weight: 700;
}
.c-pres .cat-comp .content-comp .item-comp button.open-ext
{
    margin: 50px 0;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 100px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
}
.c-pres .cat-comp .content-comp .item-comp button.open-ext::after
{
    content: "\e89e";
    font-weight: 400;
    font-family: "Material Symbols Rounded", sans-serif;
    margin-left: 10px;
}
.prt-sep-c
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
}

/*****************************/
/*    CRITÈRES COMPÉTENCES   */
.crit-c
{
    display: flex;
    flex-direction: column;
    margin: 50px 90px;
}
.crit-c .titre
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 150px;
}
.crit-c .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
    margin: -85px 25px;
}
.crit-c .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
}
.crit-c p
{
    font-size: 22px;
    max-width: 55vw;
    margin: 15px 0;
}
.crit-c .disp-grid-crit
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 70px 0;
}
.crit-c .disp-grid-crit .header-grid
{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    padding: 40px 0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.crit-c .disp-grid-crit .link-table-h::after
{
    content: "\e5c8";
    font-family: "Material Symbols Rounded", sans-serif;
    font-size: 2rem;
    margin-left: 20px;
    transition: 0.4s;
}
.crit-c .disp-grid-crit .header-grid p
{
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}
.crit-c .disp-grid-crit .column-grid
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 60px 20px;
}
.crit-c .disp-grid-crit .column-grid p
{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}
.crit-c .disp-grid-crit .yes
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.crit-c .disp-grid-crit .yes::before
{
    content: "";
    background: url("../img/c.png") no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100% auto;
    background-position: center center;
}

/***********************/
/*      CONCLUSION     */

.conclusion-c
{
    display: flex;
    flex-direction: column;
    margin: 350px 90px 140px 90px;
}
.conclusion-c .titre
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 150px;
}
.conclusion-c .titre h1
{
    color: var(--couleur-secondaire-attn);
    font-size: 7.5rem;
    font-weight: 700;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
    margin: -85px 25px;
}
.conclusion-c .titre h2
{
    font-size: 5.5rem;
    font-weight: 700;
}


/***********************/
/*   DEGRADE COULEUR   */

/* DEGRADE C1 */
.c1-h
{
    background: radial-gradient(99.63% 90.83% at 50% 9.17%, rgba(184, 34, 5, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50dvh;
    z-index: -1;
}

/* DEGRADE C3 */
.c3-h
{
    background: radial-gradient(99.63% 90.83% at 50% 9.17%, rgba(251, 195, 41, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50dvh;
    z-index: -1;
}

/* DEGRADE C4 */
.c4-h
{
    background: radial-gradient(99.63% 90.83% at 50% 9.17%, rgba(154, 207, 89, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50dvh;
    z-index: -1;
}

/* DEGRADE C6 */
.c6-h
{
    background: radial-gradient(99.63% 90.83% at 50% 9.17%, rgba(117, 9, 187, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50dvh;
    z-index: -1;
}


:root
{
    --couleur-secondaire        : #6F6F6F;
    --couleur-secondaire-attn   : #F1F1F1;

    /* COMPETENCE 1 */
    --couleur-competence-1              : #FF4F2D;
    --couleur-competence-1-secondaire   : #FFF1EE;
    --couleur-competence-1-tab          : #FFE0E0;
    --couleur-competence-1-tab2         : #FFA5A5 ;
    --couleur-competence-1-lien         : #FF7B62;
    --couleur-comp1-gradient            : linear-gradient(135deg, #901700 -13.58%, #FF927D 132.09%);

    /* COMPETENCE 3 */
    --couleur-competence-3              : #FFC528;
    --couleur-competence-3-secondaire   : #FFF7E1;
    --couleur-competence-3-tab          : #FFF1C3;
    --couleur-competence-3-tab2         : #FFE388;
    --couleur-competence-3-lien         : #FFE498;
    --couleur-comp3-gradient            : linear-gradient(135deg, #FFBD06 -13.58%, #FFF5DB 132.09%);

    /* COMPETENCE 4 */
    --couleur-competence-4              : #61B000;
    --couleur-competence-4-secondaire   : #F4FFE5;
    --couleur-competence-4-tab          : #E1FDB3;
    --couleur-competence-4-tab2         : #CBFF79;
    --couleur-competence-4-lien         : #CBFF8B;
    --couleur-comp4-gradient            : linear-gradient(135deg, #B9EA7D -13.58%, #629325 132.09%);

    /* COMPETENCE 6 */
    --couleur-competence-6              : #5D0199;
    --couleur-competence-6-secondaire   : #F9F0FF;
    --couleur-competence-6-tab          : #E8BEFF;
    --couleur-competence-6-tab2         : #D07AFF;
    --couleur-competence-6-lien         : #D28DFF;
    --couleur-comp6-gradient            : linear-gradient(135deg, #7509BB -13.58%, #D697FF 132.09%);

}